.centerBox {
	position: fixed;
	width: 640px;
	height: 480px;
	background: transparent;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -240px;
}
#overlay {
	z-index: 1;
}
#messages span {
    cursor: pointer;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 30px;
    
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    background: black;
    color: white;
    opacity: 0.75;
}
#messages {
}
#options {
	position: absolute;
	bottom: -1px;
	width: 100%;
	background: black;
	opacity: 0.5;
}
#options span {
	padding-left: 10px;
}
#screen {
	border: 1px solid #000;
	z-index: 0;
}
#debug {
	display: none;
	width: 800;
	height: 190;
	border: 1px solid #000;
	font-family: monospace;
	overflow: auto;
	margin-top: 5px;
}
body {
	background: black;
	color: white;
	font: arial;
	font-family: verdana, sans-serif;
	font-size: 12px;
}
